body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: supercorn;
    src: url(SuperCorn.ttf);
}

#siteheader {
    margin: 0px;
    background-image: url(img/blueprint.jpg);
    background-repeat: repeat-x;
    background-color: rgb(84, 84, 240);
    height: 100px;
    width: 100%;
    overflow: hidden;
    border: 2px solid black;
}
    #siteheaderimg {
        height: 100%;
        width: 100px;
        float: left;
    }
    #siteheadertxt {
        height: 100%;
        width: fit-content;
        float: left;
    }
    #title {
        font-size: 65px;
        padding: 10px;
        margin-left: 20px;
        padding-left: 25px;
        padding-right: 25px;
        margin: 0px;
        color: rgb(0, 0, 0);
        font-family: supercorn;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        
    }
    #sitenavbar {
        background-color: aquamarine;
        margin: 0px;
        padding: 0px;
        height: 25px;
        width: 100%;
        border: 2px solid black;

    }
    .navbutton {
        padding: 0px;
        float: left;
        width: 100px;
        height: 100%;
        border-style: solid;
        border-width: 0px;
        border-left-width: 2px;


    }
    .navbutton > p {
        margin: auto;
        width: 50%;
        padding: 5px;
    }

    #siteheaderimg {
        height: 100%;
        width: 100px;
    }


#infomation {
    margin: 20px;
}

.softwarecont{
    background-color: aqua;
    height: 120px;
    width: 600px;
    border: 2px solid black;
}

.softwarecontimg{
    float:left;
    background-color: brown;
    height: 100%;
    width: fit-content;
}

.button{
    transition-duration: 0.4s;
    border-style: outset;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

  
.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

#downloadbutton {
    background-color: green;
}

#downloadbutton:hover {
    background-color: #04AA6D;
}

#repobutton {
    background-color: orange;
}

#repobutton:hover {
    background-color: rgb(255, 194, 81);
}