#siteheader {
    background-color: rgb(84, 84, 240);
    height: 100px;
    width: 100%;
    overflow: hidden;
}
#siteheaderimg {
    height: 100%;
    width: 100px;
    float: left;
}
#siteheadertxt {
    height: 100%;
    width: fit-content;
    float: left;
}