body {
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@font-face {
    font-family: supercorn;
    src: url(SuperCorn.ttf);
}

#siteheader {
    margin: 0px;
    background-image: url(img/blueprint.jpg);
    background-repeat: repeat-x;
    background-color: rgb(84, 84, 240);
    height: 100px;
    width: 100%;
    overflow: hidden;
    border: 2px solid black;
}

#main {
    background-color: black;
    border: 2px white solid;
}

.softwarecont{
    background-color: aqua;
    height: 120px;
    width: 600px;
    border: 2px solid black;
}

.softwarecontimg{
    float:left;
    background-color: brown;
    height: 100%;
    width: fit-content;
}

.button{
    transition-duration: 0.4s;
    border-style: outset;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

  
.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}

#downloadbutton {
    background-color: green;
}

#downloadbutton:hover {
    background-color: #04AA6D;
}

#repobutton {
    background-color: orange;
}

#repobutton:hover {
    background-color: rgb(255, 194, 81);
}